<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
<div class="container">

<form class="d-flex">
    <button class="btn btn-outline-success" id="login"><a href="/login">login</a></button>
</form>
    <h1 style="text-align:center;"> Hello! Welcome to wuxuan's car rental company!</h1>
</div>

</body>
</html>
<script>
    // $("#login").click(function () {
    //     location.href = "/login";
    // });
</script>