<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<div class="card" style="width: 50rem; margin:0 auto;">
    <form role="form" action = "/apiLogin" method="post">
        <div class="form-group">
            <label for="name">Account</label>
            <input type="text" class="form-control" id="name" name = "name">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control"  id = "password" name = "password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
</body>
</html>