<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div id = "selectResult">
    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th>车名</th>
            <th>租借数量</th>
            <th>可租数量</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${carList}">
            <td th:text="${car.name}"></td>
            <td th:text="${carNumMap[car.id]}"></td>
            <td th:text="${car.currentCount}"></td>
            <td>
                <button class="rent" th:carId=" ${car.id}">租借</button>
                <button class="return" th:carId="${car.id}">归还</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<script >
    $("body").delegate('.rent', 'click', function(){
        var obj = $(this);
        var param = {
            "carId": obj.attr("carId")
        };
        $.ajax({
            url:"/rentCar", //请求url
            method:'post',
            data: param,    //请求参数
            async: true,    //是否异步
            success: function f(result) {
                window.confirm(result.msg); //新增用户成功提示框
                location.reload();    //重新加载界面，同步数据库信息
            }
        });
    });
    $("body").delegate('.return', 'click', function(){
        var obj = $(this);
        var param = {
            "carId": obj.attr("carId")
        };
        $.ajax({
            url:"/returnCar", //请求url
            method:'post',
            data: param,    //请求参数
            async: true,    //是否异步
            success: function f(result) {
                window.confirm(result.msg); //新增用户成功提示框
                location.reload();    //重新加载界面，同步数据库信息
            }
        });
    });
</script>
</body>
</html>