<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <form class="d-flex">
        <button class="btn btn-outline-success" id="logout">退出</button>
    </form>
</div>
<div id = "selectResult">
    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th>car name</th>
            <th>rented car numbers</th>
            <th>left car numbers</th>
            <th>operation</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${carList}">
            <td th:text="${car.name}"></td>
            <td th:text="${carNumMap[car.id] == null ? 0: carNumMap[car.id]}"></td>
            <td th:text="${car.currentCount}"></td>
            <td>
                <button class="rent" th:carId=" ${car.id}">rent</button>
                <button class="return" th:carId="${car.id}">return</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<script >
    $("body").delegate('.rent', 'click', function(){
        var obj = $(this);
        var param = {
            "carId": obj.attr("carId")
        };
        $.ajax({
            url:"/apiRentCar",
            method:'post',
            data: param,
            async: true,
            success: function f(result) {
                window.alert(result.msg);
                location.reload();
            },
            error: function(xhr) {
                var result = JSON.parse(xhr.responseText);
                window.alert(result.message);
            }
        });
    });
    $("body").delegate('.return', 'click', function(){
        var obj = $(this);
        var param = {
            "carId": obj.attr("carId")
        };
        $.ajax({
            url:"/apiReturnCar",
            method:'post',
            data: param,
            async: true,
            success: function f(result) {
                window.alert(result.msg);
                location.reload();
            },
            error: function(xhr) {
                var result = JSON.parse(xhr.responseText);
                window.alert(result.message);
            }
        });
    });
    $("body").delegate('#logout', 'click', function(){
        var obj = $(this);
        $.ajax({
            url:"/apiLogout",
            method:'post',
            data: {},
            async: true,
            success: function f(result) {
                window.alert(result.msg);
                location.href = '/index';
            },
            error: function(xhr) {
                var result = JSON.parse(xhr.responseText);
                window.alert(result.message);
            }
        });
    });
</script>
</body>
</html>