<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>success</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <h1>login success！</h1>
    <button id = "main" >click to my records page</button>

<script>
    $("#main").click(function () {
        location.href = "/users";
    });
</script>
</body>
</html>