<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>success</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <h1 style="text-align:center;">
        login success！
        <button id = "main" class="btn btn-outline-success" >click to my records page</button>
    </h1>

<script>
    $("#main").click(function () {
        location.href = "/mine";
    });
</script>
</body>
</html>